body
{
    margin:0;
    padding:0;
    width:100%;
    color:white;
    text-align:center;
    font-family:Verdana,Sans-Serif;
    font-size:14px;
background-color:Silver;
       
}
form
{

text-align:left;
}

#header
{
	
padding :10px;
	
}

#footer
{

padding:10px;
color:Black;
	
}

.separator
{
	
	clear:both;
	height:8px;
	background-image:url('/Content/Images/Separator.png');
	
}

#topSeparator
{

	margin-bottom:20px;
	
}

#bottomSeparator
{
	
	margin-top:20px;
		
}

#content
{
	
	
	
}

.postTitle
{

margin:auto;
text-align:center;
width:615px;
font-size:40px;
font-weight:bold;
font-family:Palatino Linotype;	
padding-left:85px ;
}
.postTitle a:link , .postTitle a:visited, .postTitle a:hover, .postTitle a:active
{
color:white;
 text-decoration:none;	
	
}


.postContainer
{
width:700px;
margin:0 auto 50px auto;	
}

.postTabs
{
color:#ffffff;
float:left;
font-size:12px;
}

.dateTab
{
margin-top:20px;
width:60px;
padding:5px;
background:#303030;	
}

.month
{
	
	
	
}

.day
{
font-size:2em;	
}
.commentTab
{
	margin-top:20px;
width:60px;
padding:5px;
background:#217aa6;	

}

.postContent
{
	
padding:15px 15px 15px 50px;
width:600px;
margin-left:35px;
color:#000000;
background:#FFFFFF;
	
}
.postBody
{
	
text-align:left;
line-height:1.5em;	
}

.tagList
{
float:left;	

}
.linkList
{
text-align:right;	
}

.postControlPanel
{
}

.comment, #commentEditor
{
text-align:left;
color:#000000;
background:#ffffff;
padding:15px;
margin-bottom:30px;	
}

#commentContainer
{

width:700px;
margin:auto;	
	
}

.commentName
{
font-style:italic;

}

.commentBody
{
margin:5px;

}
.commentTime
{
font-style:italic;
text-align:right;
font-size:10px;
	
}
.commentControlPanel
{

}


.commentsTab a:link , .commentsTab a:visited, .commentsTab a:hover, .commentsTab a:active
{
	font-size:large;
	color:Black;
	text-decoration:none;
	padding:50px 0px 50px 50px;
}

.commentsTab a:hover
{
text-decoration:underline;	
}



























