﻿@model Blog.Models.Post

@{
    ViewBag.Title = "Edit";
}

<form action="@Href("~/Posts/Update")" method="post" id="postForm">

        @if (Model.ID != -1)
        { 
        <input type="hidden" name ="id" value="@Model.ID" />
        }

      

        @{DateTime dateTime =  Model.DateTime.Year > 2000 ? Model.DateTime :DateTime.Now;}
        <input type="text" name="datetime" value="@dateTime" />Date<br />
        <input type="text" name="title" value="@Model.Titile" />Title<br />
        <input type="text" name="tags" value="@ViewBag.Tags" />Tags<br />
        <textarea name="body" row="10" cols= "80">@Model.Body </textarea><br/>
        <input type="submit" name="submit" value="Submit" />
             </form>