﻿@using Blog.Models;
@model IEnumerable<Post>
            

@{
    ViewBag.Title = "Index";
    bool IsPreviousLinkVisible = ViewBag.isPreviousLinkVisible ?? false;
    bool IsNextLinkVisible = ViewBag.isNextLinkVisible ?? false;
    bool isAdmin = ViewBag.IsAdmin ?? false;
}

@foreach (Post post in Model)
{ 
    @PostHelper.Render(post,Html,isAdmin,false)
}

@if (IsPreviousLinkVisible)
{ 
<a id="previousLink" href ="@Href("~/Posts/Index/" + (ViewBag.PageNumber - 1))">Previous Page</a>
}

@if (IsNextLinkVisible)
{ 
<a id="nextLink" href ="@Href("~/Posts/Index/" + (ViewBag.PageNumber + 1))">Next Page</a>
}