﻿@model string 

@{
    ViewBag.Title = "Login";
}

@section ExtraHeaders
{


    <script src="@Url.Content("~/Scripts/Login.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/SHA256.js")" type="text/javascript"></script>

}

<form action ="@Href("/Accounts/Login")" method="post" id="loginForm">
<b>Administrator Login </b><br />
<input type="text"name="name" id="name" /><b>Name</b><br />
<input type="password" name="password" id="password" /><b>Password</b><br />
<input type="hidden" name="nonce" id="nonce" value="@Model" />
<input type="hidden" name="hash" id="hash" value="hash" />
<input type="button" onclick="getPasswordHash('password','nonce','hash'); $('#loginForm').submit();" value="Login" /> 
</form>

