﻿<!DOCTYPE html>
<html>
<head>
  
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Blog.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/JQuery.js")" type="text/javascript"></script>
    @RenderSection("ExtraHeaders",false)
</head>

<body>


<div id="header"></div>
<a href="@Href("~/")"><img src="@Href("~/Content/Images/Title.png")" alt="Skopje" /></a> 
<div id="content">
<div id="topSeparator" class="separator"></div> 
<div id="sidebar"></div>
<div id="main"> @RenderBody()
</div>
<div id="buttomSeparator" class="separator"></div>
</div>
<div>
    <div id="footer">CopyRight 2011</div>
    @if (ViewBag.IsAdmin ?? false)
    { 
    
            <div class="controlPanel">
                <a href="@Href("~/Posts/Edit")">New Post</a>
                <a href="@Href("~/Accounts/Logout")">Logout</a>
            </div>
        
    }
    else
    { 
    
           <div class="controlPanel">
           <a href="@Href("~/Accounts/Login")">Login</a>
           </div>
    
    }
</div>

</body>
</html>
